version: '3'
services:
    db:
        image: mysql:5.7.22
        container_name: srv-mysql-00
        restart: always
        ports: 
            - "3306:3306"    
        environment: 
            MYSQL_DATABASE: 9c34c5c45c35c23c44c523c45c234  
            MYSQL_ROOT_PASSWORD: 3423424%%sda%%dN
            MYSQL_USER: admin
            MYSQL_PASSWORD: d41d8cd98f00b204e9800998ecf8427e
        volumes:
            - ./mounts/volumes/mysql:/var/lib/mysql
            - ./mounts/myapp/config/mysql/config/mysqld.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
            - ./mounts/myapp/config/mysql/logs/error.log:/var/log/mysql/error.log
        networks: 
            vnet-production:
                ipv4_address: 172.10.1.10 

    web:
        build: ./build/ubuntu/
        container_name: srv-web-00
        restart: always
        ports: 
            - "80:80"
            - "443:443"
        command: nginx -g "daemon off;"  
        volumes: 
            - ./mounts/myapp/config/nginx/config/default:/etc/nginx/sites-available/default 
            - ./mounts/myapp/config/phpmyadmin/config/config.default.php:/usr/share/phpmyadmin/libraries/config.default.php
            - ./mounts/myapp/config/phpmyadmin/config/config-db.php:/etc/phpmyadmin/config-db.php
            - ./mounts/myapp/config/nginx/logs/access/access.log:/var/log/nginx/access.log
            - ./mounts/myapp/config/nginx/logs/error/error.log:/var/log/nginx/error.log
            - ./mounts/myapp/config/nginx/config/ssl-cert/localhost.crt:/etc/nginx/ssl/localhost.crt
            - ./mounts/myapp/config/nginx/config/ssl-cert/localhost.key:/etc/nginx/ssl/localhost.key
        links: 
            - db:mysql
        depends_on: 
            - db    
        networks: 
            vnet-production:
                ipv4_address: 172.10.1.20                      
networks: 
    vnet-production:
        driver: bridge
        ipam:
            config:
                - subnet: 172.10.1.0/24